{% extends 'mainsite/base_site.html' %}
{% load static %}

{% block content %}

  <main id="main" >

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
          <div class="section-header">
            <h2>Nos Experts</h2>
            <p>Page en construction</p>
          </div>
      </div>

  </main>
{% endblock content %}

{% block intro %}
    <h1>Expertises</h1>
{% endblock intro %}

{% block breakcump %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="padding: 0.1rem 1rem !important;background: #fff">
            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
            {% comment %} <li class="breadcrumb-item"><a href="/departement">Départements</a></li> {% endcomment %}
            <li class="breadcrumb-item active" aria-current="page">Expertises</li>
        </ol>
    </nav>
{% endblock breakcump %}