{% extends 'mainsite/base_site.html' %}
{% load static %}

{% block content %}

  <main id="main" >

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container contact-email">

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              
              <h3>Mot du DE</h3>
              <img src="{% static 'mainsite/img/de.jpg' %}">
              <p>Sed tamen tempor magna labore dolore dolor sint 
                  tempor duis magna elit veniam aliqua esse amet veniam 
                  enim export quid quid veniam aliqua eram noster malis 
                  nulla duis fugiat culp Sed tamen tempor magna labore 
                  tempor duis magna elit veniam aliqua esse amet veniam 
                  enim export quid quid veniam aliqua eram noster malis 
                  nulla duis fugiat culpSed  
                   </p>
                <div class="text-right">
                  <a class="btn btn-sm" href="/mot-du-directeur" style="background: teal;color:#fff">lire 
                    <span class="fa fa-plus"></span>
                  </a>
                </div> 
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
             
              <h3>Vision - But - Objectifs</h3>
              <p>Sed tamen tempor magna labore dolore dolor sint 
                  tempor duis magna elit veniam aliqua esse amet veniam 
                  enim export quid quid venixport irure minim illum fore
                  Sed tamen tempor magna labore dolore dolor sint
                  tamen tempor magna labore
                  tempor duis magna elit veniam esse amet veniam 
                  enim export quid quid veniam aliqua eram noster malis
                  veniam aliqua eram noster malis
                  Sed tamen tempor magna labore dolore dolor sint 
                  Sed tamen tempor magna labore dolore dolor sint</p>
                  <div class="text-right">
                    <a href="/vision-but-objectifs" class="btn btn-sm" style="background: teal;color: #fff">lire 
                        <span class="fa fa-plus"></span>
                    </a>
                  </div>
             </div>
          </div>

          <div class="col-md-2">
            <div class="contact-email">
              
              <h3>Missions</h3>
              <p>Sed tamen tempor magna labore dolore dolor sint 
                tempor duis magna elit veniam njbvg aliqua esse amet veniam 
                Sed tamen tempor magna labore dolore dolor fung dolor sint duis fugiat duis fugiat  culp</p>
                <div class="text-right">
                    <a href="/mission" class="btn btn-sm" style="background: teal; color: #fff">lire 
                        <span class="fa fa-plus"></span>
                    </a>
                </div>
             </div>
          </div>

          <div class="col-md-2">
            <div class="contact-email">
              
              <h3>Valeurs</h3>
              <p>Sed tamen tempor magna labore dolore dolor sint 
                tempor duis magna elit veniam aliqua esse amet veniam 
                enim export quid quid veniam aliqua eram noster malis duis fugiat duis fugiat culp</p>
                <div class="text-right">
                    <a href="nos-valeurs" class="btn btn-sm" style="background: teal; color: #fff; color: #eee">lire 
                        <span class="fa fa-plus"></span>
                    </a>
                </div>
            </div>
          </div>

        
          

        </div>
      </div>

  </main>


{% endblock content %}

{% block intro %}
    <h1>Bienvenue sur notre site</h1>
{% endblock intro %}