{% extends 'mainsite/base_site.html' %}
{% load static %}

{% block content %}

  <main id="main" >

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container contact-email">

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              
              <h3>Mot du DE</h3>
              <img src="{% static 'mainsite/img/de.jpg' %}">
              <p>La création en Décembre 2018 du Centre de Recherche et d’Ingénierie pour le Développement en Afrique (CRIDevelopment) résulte de la volonté, après quelques années de réflexion, d’Enseignants-Chercheurs, de Chercheurs, d’Ingénieurs et autres Cadres africains de mettre en synergie leurs expertises et expériences au sein d’une même association. 
                   </p>
                <div class="text-right">
                  <a class="btn btn-sm" href="/mot-du-directeur" style="background: teal;color:#fff">lire 
                    <span class="fa fa-plus"></span>
                  </a>
                </div> 
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
             
              <h3>Vision - But - Objectifs</h3>
              <p>Le CRIDevelopment a pour objet de constituer 
              un pôle d’excellence panafricain dans les  domaines 
              de la recherche inter et transdisciplinaire, 
              de l’ingénierie et du renforcement de capacités pour 
              le développement durable dans le monde 
              en général et plus particulièrement en Afrique.</p>
                  <div class="text-right">
                    <a href="/vision-but-objectifs" class="btn btn-sm" style="background: teal;color: #fff">lire 
                        <span class="fa fa-plus"></span>
                    </a>
                  </div>
             </div>
          </div>

          <div class="col-md-2">
            <div class="contact-email">
              
              <h3>Missions</h3>
              <p>Les missions du CRIDevelopment sont:
-	étudier les répercussions et interconnexions des mutations 
socio-environnementales mondiales (syndromes) 
sur la santé et le bien être des communautés 
dans un monde en pleine globalisation ; 
</p>
                <div class="text-right">
                    <a href="/mission" class="btn btn-sm" style="background: teal; color: #fff">lire 
                        <span class="fa fa-plus"></span>
                    </a>
                </div>
             </div>
          </div>

          <div class="col-md-2">
            <div class="contact-email">
              
              <h3>Valeurs</h3>
              <p>Sed tamen tempor magna labore dolore dolor sint 
                tempor duis magna elit veniam aliqua esse amet veniam 
                enim export quid quid veniam aliqua eram noster malis duis fugiat duis fugiat culp</p>
                <div class="text-right">
                    <a href="nos-valeurs" class="btn btn-sm" style="background: teal; color: #fff; color: #eee">lire 
                        <span class="fa fa-plus"></span>
                    </a>
                </div>
            </div>
          </div>

        
          

        </div>
      </div>

  </main>


{% endblock content %}

{% block intro %}
    <h1>Bienvenue sur notre site</h1>
{% endblock intro %}