{% extends 'mainsite/base_site.html' %}
{% load static %}

{% block content %}

  <main id="main" >

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
          <div class="section-header">
            <h2>Ingénierie</h2>
           
  <div class="section-body">
            <div class="card card-body">
                <p><strong>Département Ingenierie sociale sanitaire et environnementale</strong></p>
                <ul>
                    <li>Ecosystèmes, santé et changements de comportements;</li>
                    <li>Adaptation/Résilience au Changements climatiques;</li>
                    <li>Energies renouvelables et mitigation des changements climatiques ;</li>
                    <li>Ouvrages et plans d’Assainissement (Assainissement autonome, sites de transfert d’Ordures Ménagères, bassins de lagunage ,…);</li>
                    <li>Ouvrage et plans d’Approvisionnement en Eau Potable –AEP- - (Hydraulique Urbaine, Hydraulique Villageoise Améliorée, Hydraulique Villageoise);</li>
                    <li>Constats Environnementaux, Evaluation Environnemental Stratégique, Etudes d’Impact Environnemental et Social;</li>
                    <li>Elaboration base de données & SIG;</li>
                    <li>Assistance Technique et Organisationnelle à la mise en oeuvre de projets de développement (agriculture durable, cohésion sociale, AEP…);</li>

                 


                
                </ul>
            </div>
          </div>


          </div>
      </div>

  </main>
{% endblock content %}

{% block intro %}
    <h1>Département - Ingénierie</h1>
{% endblock intro %}