{% extends 'mainsite/base_site.html' %}
{% load static %}

{% block content %}

  <main id="main" >

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
          <div class="section-header">
            <h2>Nos missions</h2>
            {% comment %} <p>Page en construction</p> {% endcomment %}
          </div>

          <div class="section-body">
            <div class="card card-body">
                <p><strong>Les missions du CRIDevelopment sont:</strong></p>
                <ul>
                    <li>étudier les répercussions et interconnexions des mutations socio-environnementales mondiales (syndromes) sur la santé et le bien être des communautés dans un monde en pleine globalisation;</li>
                    <li>offrir aux communautés, aux entreprises, aux administrations et aux acteurs de développement, des outils et un accompagnement de qualité dans l’élaboration et la mise en œuvre de projets de développement, dans le renforcement de capacités dans divers domaines de l’Environnement, la Santé, l’Accès à l’Eau, l’Éducation et le Développement Durable ;</li>
                    <li>mettre à la disposition des décideurs et acteurs de développement les outils les plus avancés de la recherche scientifique répondant aux problématiques environnementales, sanitaires et sociales (genre, inclusion sociale,…) complexes et à fort impact sur le développement durable ;</li>
                    <li>entreprendre toute action directe ou indirecte liée à l’amélioration du cadre de vie et au développement local durable des populations vulnérables.</li>
                </ul>
            </div>
          </div>
      </div>

  </main>
{% endblock content %}

{% block intro %}
    <h1>Missions</h1>
{% endblock intro %}