{% extends 'mainsite/base_site.html' %}
{% load static %}

{% block content %}

  <main id="main" >

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
          <div class="section-header">
            <h2>Projets</h2>
            <p>Page en construction</p>
          </div>
      </div>

  </main>
{% endblock content %}

{% block intro %}
    <h1>Projets</h1>
{% endblock intro %}