{% extends 'mainsite/base_site.html' %}
{% load static %}

{% block content %}

  <main id="main" >

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
          <div class="section-header">
            <h2>Recherche</h2>
            {% comment %} <p>Page en construction</p> {% endcomment %}
          </div>

          <div class="section-body">
            <div class="card card-body">
                <h3 class="card-title">Unité Environnement, Santé et Developpement Durable (ES2D)</h3>
                <ul>
                    <li>Diagnostics communautaires, sanitaires, sociologiques et socio-économique</li>
                    <li>Gestion des déchets solides et liquides</li>
                    <li>Etude des maladies vectorielles et liées à l’Eau</li>
                    <li>Changements climatiques et adaptation/résilience</li>
                    <li>Etude des zones humides et des services écosystémiques</li>
            </div>
          </div>
      </div>

  </main>
{% endblock content %}

{% block intro %}
    <h1>Département - Recherche</h1>
{% endblock intro %}