{% extends 'mainsite/base_site.html' %}
{% load static %}

{% block content %}

  <main id="main" >

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
          <div class="section-header">
            <h2>Vision - but - Objectifs</h2>
            {% comment %} <p>Page en construction</p> {% endcomment %}
          </div>
          <div class="section-body">
            <div class="card">
                {% comment %} <div class="card-header">
                    <h3>Objectifs</h3>
                </div> {% endcomment %}
                <div class="card-body">
            Le CRIDevelopment a pour objet de constituer un pôle d’excellence panafricain 
            dans les  domaines de la recherche inter et transdisciplinaire, 
            de l’ingénierie et du renforcement de capacités pour le développement durable 
            dans le monde en général et plus particulièrement en Afrique.
                </div>
            </div>
          </div>
      </div>

  </main>
{% endblock content %}

{% block intro %}
    <h1>Vision - But - Objectifs</h1>
{% endblock intro %}

{% block breakcump %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="padding: 0.1rem 1rem !important;background: #fff">
            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Vision - But - Objectifs</li>
        </ol>
    </nav>
{% endblock breakcump %}